@import url("https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

@import url("reset.css");


.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.hero-container {
    padding: 0 15px;
    max-width: 1920px;
    margin: 0 auto;
    
}

.hero {
    max-width: 1920px;
    padding-top: 796px; 
    padding-bottom: 50px;
    
    color:#999;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; /* 27px */
}

.hero-bg{
    background-repeat: no-repeat;
    background-image: url(../img/sub-container.png), linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%);
    background-color: #141414;
    background-position: center;
    background-size: contain;
}

.hero-text-box {
    margin: 0 auto 50px;
    max-width: 1096px;
    
}

.hero-title {
    color:#FFF;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 14px; 
}

.button{
    padding: 18px 24px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #E50000;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5; /* 27/18 */
}

.button-icon{
    display: inline-block;
    background-position: 0 center;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    padding-left: 32px;
}

.features{
    font-family: "Epilogue", sans-serif;
    color: rgba(57, 20, 0, 0.64);
    font-size: 16px;
    font-weight: 400;
    line-height: 2; /* 32/16 */
    background-color:  #FFE4DF;
    padding: 50px 0;
    
}

.features-container{
    max-width: 1204px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.features-content{
    margin-right: 171px;
    padding-top: 77px;
    display: inline-block;
    max-width: 470px;
}

.features-text{
    color: #EF6D58;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features-main-title{
    color: #391400;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.14; /* 64/56 */
    letter-spacing: -1px;
    margin-bottom: 26px;
    max-width: 397px;
}

.features-title{
    color: #391400;
    font-size: 20px;
    line-height: 1.6; /* 32/20 */
    margin-bottom: 26px;
}

.features-item{
    margin-bottom: 16px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    padding-left: 48px;
}

.features-img{
    display: inline-block;
    vertical-align: top;
}